 *{
    text-transform: capitalize;
 }

 h2 {
   margin-top: -75%;
   margin-left: 55%;
 }

 /* TARGET LIST INDIVIDUAL POKEMON IN LIST */
 .PokeList-item:hover {
   color: #0984e3;
   cursor: pointer;
 }