 body{
    background-color: #1e272e;

 }

h1 {
  text-transform: capitalize;
}
/* LOGO & HEADER*/
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  text-align: center;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
 /* TARGET INDIVIDUAL POKEMON IN LIST */
 .PokeList-item {
   text-transform: capitalize;
 }
 .PokeList-item:hover {
    cursor: pointer;
   background-color: #3498db;
   color: blanchedalmond;
   font-weight: bolder;
 }
/* Remove underline from pokemon links */
 a:hover {
   text-decoration: none;
 }
 /* Poke-details list secion*/
 .poke-details{
   color: aliceblue;
 }

